:root {
    --rojo :#BC0A11 ;
    --vinotinto : #181818;
    --white: #ffffff;
    --black: #000000;
    --very-light-pink: #c7c7c7;
    --text-input-field: #f7f7f7;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    font-family: 'Quicksand', sans-serif;
    background: #BD0000;  /* fallback for old browsers */

background-repeat: no-repeat;
background-attachment: fixed;

}
.title{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: space-around;
    color: var(--white);
    font-size: 40px;
    padding: 12px;
}

.conteiner{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
      padding: 20px;
    height: 100%;
    align-items: center;
}

.conteiner div {
    width: 400px;
    margin: 10px;
}
.cronometro{
    text-align: center;
    justify-content: center;
    color: var(--white);
   
    border-radius: 50px;
    background: linear-gradient(145deg, #ca0000, #aa0000);
    box-shadow:  20px 20px 60px #880000,
                 -20px -20px 60px #f20000;
    border-radius: 10px;

}

.cronometro p {
    margin: 0;
    padding: 0;
    font-size: 40px;

}
.cronometro h2 {
    margin: 0;
    padding: 0;
 }
 
 .ptiempo {
     padding-bottom: 12px;
     
 }
 .stiempo {
    padding-bottom: 25px;
}

.generadortxt {
    display: flex;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: var(--white);
   
    background: linear-gradient(145deg, #ca0000, #aa0000);
    box-shadow:  20px 20px 60px #880000,
                 -20px -20px 60px #f20000;
    border-radius: 10px;
}
.generadortxt form{
    display: flex;
    flex-flow: column wrap;
   
    
}
.conteiner-txt{
    display: flex;
    font-weight: bold;
}

.txt-rivales input[type=text] {
    width: 70%;
    padding: 8px 8px;
    margin: 3px 5px 10px 5px;
    box-sizing: border-box; 
}


.txt-jugada textarea {
    width: 70%;
 padding: 8px 8px;
 margin: 3px 5px 10px 5px;
 box-sizing: border-box;
 color: #000000;
  
}
.txt-hastags input[type=text] {
    width: 70%;
    padding: 8px 8px;
    margin: 3px 5px 10px 5px;
    box-sizing: border-box;
}

.btn {
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%)
   }
.btn {
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
    
    border: 0px;
    font-weight: 700;
    box-shadow: 0px 0px 14px -7px #f09819;
   }
   
   .btn:hover {
    background-position: right center;
    /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
   }
   
   .btn:active {
    transform: scale(0.95);
   }
.card-txt{
    height: 500px;
   
    font-size: 20px;
    text-align: center;
    justify-content: center;
    color: var(--black);
    margin-bottom: 20px !important;
   
    background-color: rgba(228, 228, 228, 0.9);
    border-radius: 10px;
}
   .card-txt p{
       
       padding-top: 20px;
       padding-left: 26px;
       text-align: left;
       color: var(--black);
       font-size: var(--lg);
       font-weight: bold;
   }

   .texto-generado{
       text-align: left;
   }

   .partido{
       display: flex;
    
       justify-content: center;
       align-content: flex-start;
   }


   .partido iframe{
       width: 1000px;
       height: 600px;
      border: none;
      border-radius: 8px;
   }

   .partido button{
       font-size: 35px;
   }
   .cronometro1tiempo{
       display: flex;
       justify-content: center;
   }

   .input{
       border: 0;
       border-radius: 6px;
       padding: 8px;
       outline: none;
       font-family: 'Quicksand', sans-serif;
       font-size: 14px;
   }
    .cta {
        position: relative;
        margin: auto;
        padding: 12px 18px;
        transition: all 0.2s ease;
        border: none;
        background: none;
       }
       
       .cta:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        border-radius: 50px;
        background: #4a0000;
        width: 45px;
        height: 45px;
        transition: all 0.3s ease;
       }
       
       .cta span {
        position: relative;
        font-family: "Ubuntu", sans-serif;
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: #ffffff;
       }
       
       .cta svg {
        position: relative;
        top: 0;
        margin-left: 10px;
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        stroke: #ffffff;
        stroke-width: 2;
        transform: translateX(-5px);
        transition: all 0.3s ease;
       }
       
       .cta:hover:before {
        width: 100%;
        background: #8d0000;
       }
       
       .cta:hover svg {
        transform: translateX(0);
       }
       
       .cta:active {
        transform: scale(0.95);
       }


 @media (max-width: 640px) {
    .conteiner div {
        width: 100%;
        
    }
    .partido{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
    }
    .partido button{
        font-size: 15px;
    }
    .partido iframe{
        width: 400px;
        height: auto;
       border: none;
       border-radius: 8px;
    }
 }